<h1>Просмотр рецептов</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Ингредиенты</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recepes.each do |recepe| %>
  <tr>
    <td><%= recepe.name %></td>
    <td><%= recepe.type.name %></td>
    <td><%= recepe.description %></td>
    <td><%= recepe.ingredients %></td>
    <td><%= link_to 'Показать', recepe %></td>
    <td><%= link_to 'Редактировать', edit_recepe_path(recepe) %></td>
    <td><%= link_to 'Удалить', recepe, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить рецепт', new_recepe_path %>
