<!DOCTYPE html>
<html>
<head>
  <title>Моя кулинарная книга</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= form_tag do %>
		<div class="search" id="search">Поиск: <%= search_field_tag :search %>
		<%= submit_tag 'Искать', class:"search_button"%></div>
	<% end %>

	<header>Моя кулинарная книга</header>
	<aside>
		<nav>
			<ul>
				<li><%= link_to "На главную", recepes_path %></li>
				<li><a href="#" id="li_search">Поиск по рецептам</a><div id="search_form">Выберите раздел<br/><%= select_tag :type_id, options_from_collection_for_select(@types, "id", "name"), include_blank: "--Все--" %><br/><br/></div></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Регистрация</a></li>
				<li><a href="#">Войти</a></li>
			</ul>
		</nav>
	</aside>
	
	<main>
		<%= yield %>
	</main>

	<footer>
		<small>2014 © Быкова Виктория</small>
	</footer>

	</body>
</html>
