<!DOCTYPE html>
<html>
<head>
  <title>Моя кулинарная книга</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= form_tag do %>
		<div class="search" id="search">Поиск: <%= search_field_tag :search %>
		<%= submit_tag 'Искать', class:"search_button"%></div>
	<% end %>

	<header>Моя кулинарная книга</header>
	<aside>
		<nav>
			<ul>
				<li color: '#eee'><%= link_to "На главную", recepes_path %></li>
				<li id="li_search">Поиск по рецептам<div id="rec_search" hidden><br/>Выберите раздел<%= select_tag :type_id, Type.all.collect {|c| [ c.name, c.id ]},{} %></div></li>
				<li>Контакты</li>
				<li>Регистрация</li>
				<li>Войти</li>
			</ul>
		</nav>
	</aside>
	
	<main>
		<%= yield %>
	</main>

	<footer>
		<small>2014 © Быкова Виктория</small>
	</footer>

	</body>
</html>
